<h1>Log In</h1>

<form method="post">
    <label>Email</label>
    <input type="text" name="email" class="form-control" />
    <label>Password</label>
    <input type="text" name="pass" class="form-control" />
    <button type="submit" class="btn btn-success">Entrar</button>
</form>